/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


* {color:#fff}
div, html, body {height: 100%}
#flash {display:none}
body {padding:0}

.container-fluid {width:100%;max-width:100%;padding:0;margin:0}
.container-fluid * {padding:0;margin:0}

.portail .aside { background-color:#16161d;
		  box-shadow: 5px 0 8px 0 rgba(0, 0, 0, 0.5);
		  z-index:1 }
.portail .aside .header {height:25%}
.portail .aside .slider {height:75%}
.portail .aside .user {text-align:center}
.portail .aside .user * {width:100%}
.portail .aside .user .user-info { position:absolute;
				   top:40%;
				   right:0 }
.portail .logolaclasse h3,
.portail .aside .user .user-info h3 { padding:0;
				      font-weight:bold }
.portail .aside .user .button-wrapper { position:absolute;
					bottom:1.5em;
					right:0;
					text-align:center }
.portail .aside .user a { border:1px solid #fff;
			  color:#fff;
			  padding:0.5em;
			  margin:0.5em;
			  text-transform:uppercase }
.portail .aside .user select { background: transparent;
			       border: 0;
			       font-weight: bold;
			       width: 100% }
.user-info svg { bottom: 0;
		 left: 0;
		 opacity: 0.5;
		 position: absolute }

.damier .petite.case,
.portail .logolaclasse {text-align:center}
.damier .petite.case a,
.portail .logolaclasse a {color:#fff;
			  text-decoration:none;
			  float: left;
			  height: 100%;
			  width: 100%}
svg * {fill:#fff}

.aside .avatar {background-color:#aff}

.rn-carousel-slides {height:100%}
.rn-carousel-indicator { position:absolute;
			 bottom:33.333% }
.rn-carousel-slide .news-content { background-color: rgba(255, 255, 255, 0.1);
				   bottom: 0;
				   height: 33.333%;
				   padding: 5px;
				   position: absolute;
				   width: 100% }

/* cases du damier */
.damier .case { position:relative;
		float:left }

/* tailles */
.damier .petite.case {height:25%}
/* .damier .grande.case {width:60%;height:75%} */

/* icônes */
.app-icone { position:absolute;
	     height:auto;
	     width:100%;
	     left:0;
	     bottom:2em }

.damier .petite.case a span { font-size:1.5em;
			      font-weight:lighter }

.damier .petite.case a .compteur-notification { border-radius:1em;
						color:#fff;
						font-size:2em;
						font-weight:bolder;
						padding:0 0.4em;
						position: absolute;
						right: 0.5em;
						top: 0.5em }


/* /show-app */
#app-wrapper { overflow:hidden }

#app-wrapper .en-tete,
#app-wrapper .en-tete .navbar,
#app-wrapper .en-tete .user-menu,
#app-wrapper .en-tete .titre { height:1.5em;
			      min-height:1.5em;
			      max-height:1.5em;
			      border:0 }

#app-wrapper .titre { padding-left:1em;
		      font-weight:bolder }

#app-wrapper .laclasse-com { text-align:center;
			     font-weight:bolder;
			     float:left }
#app-wrapper .laclasse-com a { color:#fff;
			       text-decoration:none }

#app-wrapper .laclasse-com .petit-logo { display:inline-block;
					 float:left;
					 width:1.25em;
					 padding-top:1px }
#app-wrapper .laclasse-com .petit-logo svg { height:1em;
			       width:1em }
#app-wrapper .laclasse-com .petit-logo svg * {fill:#fff}

#app-wrapper .laclasse-com span { display:inline-block;
				  float:left;
				  padding-left:1em }

#app-wrapper .user-menu { text-align:right;
			  padding-right:1em }
#app-wrapper .user-menu .profil-select-wrapper { float:left;
						 overflow:hidden;
						 width:calc( 12em - 15px ) }
#app-wrapper .user-menu select { width:12em;
				 border:0;
				 background:transparent;
				 appearance:none;
				 -moz-appearance:none;
				 -webkit-appearance:none }
#app-wrapper .user-menu a { display:inline-block;
			    color:#fff;
			    text-decoration:none;
			    cursor:pointer }
#app-wrapper .user-menu h6 { display:inline;
			     font-weight:bold;
			     padding-left:1em }
#app-wrapper .user-menu ul { border:0;
			     border-radius:0 }
#app-wrapper .user-menu li { text-align:left;
			     border-top:1px solid #fff }
#app-wrapper .user-menu li a { width:100%;
			       height:3.5em;
			       line-height:3em;
			       padding:0.25em }
#app-wrapper .user-menu li a:hover { background-color:#16161d }
#app-wrapper .user-menu li a * { float:left }
#app-wrapper .user-menu li a svg { height:3em;
				   width:3em }
#app-wrapper .user-menu li a svg * { fill:#fff }
#app-wrapper .user-menu li a.dropdown-toggle { height:1em;
					       line-height:1em;
					       text-align:center;
					       display: inline-block;
					       height: 100%;
					       padding: 0;
					       width: 100% }

#app-wrapper .iframe {height:calc(100% - 1.5em);
		      background-color:#ececed}
#app-wrapper .iframe iframe {width:100%;
			     height:100%;
			     border:0}