*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version

# YARD artifacts
.yardoc
_yardoc
doc/

.tags
.vagrant
vagrant/

/config/env.rb
/config/options.rb
/config/portail.yaml
/config/CAS*.rb
/config/authentication.rb
/config/portail.yaml
/public/app/scripts/constants.js
