*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version

# YARD artifacts
.yardoc
_yardoc
doc/

.tags
.vagrant
vagrant/

/config/env.rb
/config/options.rb
/config/CAS*.rb
/config/authentication.rb
/public/app/js/constants.js
/config/portail.yaml
/config/portail.json
/public/app/css/*.min.css
/public/app/js/*.min.js*
/public/app/vendor/*.min.js*
/public/app/vendor/*.min.css
