<div ng-app="myApp"> 
    <div class="row-fluid">
        <div ng-view></div>
    </div>
    <pre>Monde de sinatra <%=env['rack.session'][:current_user].to_html%></pre>
    <!--<script src="<%= APP_PATH %>/js/lib/angular/angular.min.js"></script>-->
</div>