<div data-ng-app="portailApp">
  <div class="row-fluid">
    <div data-ui-view></div>
  </div>
  <div class="row-fluid">
    <pre class="col-md-12">
      Monde de sinatra <%=env['rack.session'][:current_user].to_html%>
    </pre>
  </div>
</div>
