<div class="row damier gris4"
     data-ng-class="{'modification': modification}">

    <ul ui-sortable="sortable_options" data-ng-model="cases">
	<li data-ng-repeat="case in cases"
	    class="col-xs-6 col-sm-4 col-md-3 col-lg-3 petite case"
	    data-ng-class="{'flip': case.app.configure || case.app.application_id == 'add_app' || case.app.application_id == 'config'}"
	    data-ng-if="current_user.is_logged">

	    <div class="front {{ case.couleur }}">
		<button class="btn btn-lg toggle-configure open-configure"
			data-ng-if="modification && case.app && case.app.active && case.app.application_id != 'config' && case.app.application_id != 'add_app'"
			data-ng-click="case.app.toggle_configure()">
		    <span class="glyphicon glyphicon-cog"></span>
		</button>

		<!-- Affichage normal -->
		<a data-ng-if="case.app.active && !modification && case.app.application_id !== 'config'"
		   data-ui-sref="app-wrapper({ app: case.app.application_id })"
		   title="{{ case.app.description }}">
		    <span class="compteur-notification orange-brillant"
			  data-ng-if="case.app.notifications > 0" data-ng-cloak>{{case.app.notifications}}</span>
		    <img class="icone" data-ng-src="{{prefix}}/{{case.app.icon}}"
			 data-ng-if="case.app.icon"/>
		    <span class="app-name" data-ng-cloak>{{ case.app.libelle }}</span>
		</a>

		<!-- Mode modification -->
		<a data-ng-if="case.app.active && modification && case.app.application_id !== 'config'"
		   title="{{ case.app.draft.description }}">
		    <span class="compteur-notification orange-brillant"
			  data-ng-if="case.app.notifications > 0" data-ng-cloak>{{case.app.notifications}}</span>
		    <img class="icone" data-ng-src="{{prefix}}/{{case.app.draft.icon}}"
			 data-ng-if="case.app.draft.icon"/>
		    <span class="app-name" data-ng-cloak>{{ case.app.draft.libelle }}</span>
		</a>
	    </div>

	    <div class="configure back"
		 data-ng-class="{ 'blanc': case.app.application_id != 'add_app' && case.app.application_id != 'config', {{case.couleur}}: case.app.application_id == 'add_app' || case.app.application_id == 'config'}">
		<div data-ng-if="case.app.application_id != 'add_app' && case.app.application_id != 'config'">
		    <button class="btn btn-lg toggle-configure close-configure"
			    data-ng-if="modification && case.app && case.app.application_id != 'config' && case.app.application_id != 'add_app'"
			    data-ng-click="case.app.toggle_configure()">
			<i class="fa fa-reply"></i>
		    </button>

		    <label>nom : <input type="text" class="form-control"
					data-ng-model="case.app.draft.libelle"
					data-ng-change="case.app.is_dirty()" />
		    </label>

		    <label>description : <input type="text" class="form-control"
						data-ng-model="case.app.draft.description"
						data-ng-change="case.app.is_dirty()" />
		    </label>

		    <label>couleur : <ng-color-picker selected="case.couleur"></ng-color-picker></label>

		    <button class="btn btn-danger remove"
			    data-ng-click="case.app.remove()">Supprimer</button>
		</div>
	    </div>
	</li>
    </ul>

    <span class="glyphicon toggle-modification glyphicon-wrench"
	  data-ng-class="{'gris4': modification, 'rouge': !modification}"
	  data-ng-if="current_user.profil_actif.admin"
	  data-ng-click="toggle_modification( !modification )"></span>
    <span class="glyphicon glyphicon-remove toggle-modification cancel rouge"
	  data-ng-if="modification"
	  data-ng-click="toggle_modification( false )"></span>
    <span class="glyphicon glyphicon-ok toggle-modification save vert"
	  data-ng-if="modification"
	  data-ng-click="toggle_modification( true )"></span>

    <span class="glyphicon glyphicon-plus toggle-modification add-app bleu"
	  data-ng-if="modification"
	  data-ng-click="add_tile()"></span>

</div>
