<div class="row damier gris4">
  <div data-ng-repeat="app in apps | orderBy:'index'"
       class="col-xs-12 col-sm-6 col-md-3 col-lg-3 petite case"
       data-ng-if="current_user.is_logged">
    <span class="animate scale-fade-in {{ app.couleur }}"
	  data-ng-if="!app.active"></span>

      <a class="animate scale-fade-in {{ app.couleur }}"
	 data-ng-if="app.active && !app.configure"
	 data-ui-sref="app-wrapper({ app: app.id })"
	 title="{{ app.survol }}">
	<span class="compteur-notification orange-brillant"
	      data-ng-if="app.notifications > 0">{{app.notifications}}</span>
	<img data-ng-src="{{prefix}}/{{app.icone}}"
	     data-ng-if="app.icone"/>
	<span class="app-name">{{ app.nom }}</span>
      </a>
      <div data-ng-if="app.active && app.configure">
	<button class="btn btn-lg" data-ng-click="app.deactivate()">Désactiver</button>
      </div>
      <button class="btn btn-lg toggle-configure"
	      data-ng-if="app.active && current_user.profil_actif.admin && app.id != 'AIDE' && app.id != 'ADMIN' && app.id != 'empty' && app.id != 'empty2' && app.id != 'empty3'"
	      data-ng-click="app.toggle_configure()">
	<span class="glyphicon glyphicon-cog"></span>
      </button>

  </div>
</div>
