<div class="row damier gris4"
     data-ng-class="{'modification': modification}">

    <ul ui-sortable="sortable_options" data-ng-model="cases">
      <li data-ng-repeat="case in cases"
	  class="col-xs-6 col-sm-4 col-md-3 col-lg-3 petite case {{ case.couleur }}"
	  data-ng-if="current_user.is_logged">

	<a class="animate toggle"
	   data-ng-if="case.app.active && !modification && !case.app.configure && case.app.id !== 'config'"
	   data-ui-sref="app-wrapper({ app: case.app.id })"
	   title="{{ case.app.survol }}">
	  <span class="compteur-notification orange-brillant"
		data-ng-if="case.app.notifications > 0" data-ng-cloak>{{case.app.notifications}}</span>
	  <img class="icone" data-ng-src="{{prefix}}/{{case.app.icone}}"
	  data-ng-if="case.app.icone"/>
	  <span class="app-name" data-ng-cloak>{{ case.app.nom }}</span>
	</a>

	<a class="animate toggle"
	   data-ng-if="case.app.active && modification && !case.app.configure && case.app.id !== 'config'"
	   title="{{ case.app.draft.survol }}">
	    <span class="compteur-notification orange-brillant"
		  data-ng-if="case.app.notifications > 0" data-ng-cloak>{{case.app.notifications}}</span>
	    <img class="icone" data-ng-src="{{prefix}}/{{case.app.draft.icone}}"
		 data-ng-if="case.app.draft.icone"/>
	    <span class="app-name" data-ng-cloak>{{ case.app.draft.nom }}</span>
	</a>

	<div class="configure animate rotate-in" data-ng-if="modification && case.app.configure && case.app.id != 'config'">
	  <label>nom : <input type="text" class="form-control"
			      data-ng-model="case.app.draft.nom"
			      data-ng-change="case.app.is_dirty()" />
	  </label>
	  <label>description : <input type="text" class="form-control"
				      data-ng-model="case.app.draft.survol"
				      data-ng-change="case.app.is_dirty()" />
	  </label>

	  <ng-color-picker selected="case.couleur"></ng-color-picker>

	  <div class="activation"
	       data-ng-switcher
	       data-ng-model="case.app.draft.active"
	       data-ng-change="case.app.is_dirty()"></div>
	</div>

	<button class="btn btn-lg toggle-configure"
		data-ng-class="{'open-configure': !case.app.configure, 'close-configure': case.app.configure}"
		data-ng-if="modification && case.app && case.app.id != 'AIDE' && case.app.id != 'ADMIN' && case.app.id != 'config' && case.app.id != 'add_app'"
		data-ng-click="case.app.toggle_configure()">
	  <span class="glyphicon glyphicon-cog"
		data-ng-if="!case.app.configure"></span>
	  <i class="fa fa-reply"
	     data-ng-if="case.app.configure"></i>
	</button>




	<!-- Case de toggle modification damier -->
	<a class="animate toggle" href
	   data-ng-if="insane_tiles_configuration_access && current_user.profil_actif.admin && case.app.id == 'config' && ! modification"
	   data-ng-click="toggle_modification( true )"
	   title="{{ case.app.survol }}">
	    <!-- recto -->
	    <img class="icone" data-ng-src="{{prefix}}/{{case.app.icone}}"
		 data-ng-if="case.app.icone && !modification"/>
	    <span class="app-name" data-ng-cloak
		  data-ng-if="!modification">{{ case.app.nom }}</span>
	</a>
	<div class="exit-configure animate rotate-in" data-ng-if="insane_tiles_configuration_access && current_user.profil_actif.admin && case.app.id == 'config' && modification">
	    <!-- verso -->
	    <button class="btn btn-lg btn-default"
		    data-ng-click="toggle_modification( true )"
		    data-ng-if="modification">valider</button>
	    <button class="btn btn-lg btn-default"
		    data-ng-click="toggle_modification( false )"
		    data-ng-if="modification">annuler</button>
	</div>

	<!-- Case de d'ajout d'application -->
	<a class="animate toggle animate rotate-in" href
	   data-ng-if="insane_tiles_configuration_access && current_user.profil_actif.admin && case.app.id == 'add_app' && modification"
	   data-ng-click="add_tile()"
	   title="Ajout d'application">
	    <span class="icone">+</span>
	    <span class="app-name" data-ng-cloak>{{ case.app.nom }}</span>
	</a>

      </li>
    </ul>

    <span class="glyphicon toggle-modification glyphicon-wrench"
	  data-ng-class="{'gris4': modification, 'rouge': !modification}"
	  data-ng-if="current_user.profil_actif.admin && !insane_tiles_configuration_access"
	  data-ng-click="toggle_modification( !modification )"></span>
    <span class="glyphicon glyphicon-remove toggle-modification cancel rouge"
	  data-ng-if="modification && !insane_tiles_configuration_access"
	  data-ng-click="toggle_modification( false )"></span>
    <span class="glyphicon glyphicon-ok toggle-modification save vert"
	  data-ng-if="modification && !insane_tiles_configuration_access"
	  data-ng-click="toggle_modification( true )"></span>

    <span class="glyphicon glyphicon-plus toggle-modification add-app bleu"
	  data-ng-if="modification && !insane_tiles_configuration_access"
	  data-ng-click="add_tile()"></span>

</div>
