<div class="row-fluid mire">
  <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 info">

    <a href='login' title='Connexion avec Laclasse.com'>Connexion</a>
    <br>
    <a href='logout' title='Déconnexion de Laclasse.com'>Déconnexion</a>

  </div>
  <div class="col-xs-8 col-s-m8 col-md-8 col-lg-8 damier">

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case blue">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case yellow">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case yellow">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case blue">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case blue">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case yellow">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case yellow">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case blue">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case blue">
      <p class="app-icon">♨</p>
    </div>

    <div class="petite case red">
      <p class="app-icon">♨</p>
    </div>

  </div>
</div>
