<div class="row-fluid mire">
  <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 info">
    gauche
  </div>
  <div class="col-xs-8 col-s-m8 col-md-8 col-lg-8 damier">
    <div class="tile small red">
      <span class="glyphicon glyphicon-fire"></span>
    </div>

    <div class="tile small blue">
      <span class="glyphicon glyphicon-fire"></span>
    </div>

    <div class="tile small red">
      <span class="glyphicon glyphicon-fire"></span>
    </div>

    <div class="tile small red">
      <span class="glyphicon glyphicon-fire"></span>
    </div>

    <div class="tile small yellow">
      <span class="glyphicon glyphicon-fire"></span>
    </div>

    <div class="tile big">
      <a href='login' title='Connexion avec Laclasse.com'>Connexion</a>
      <br>
      <a href='logout' title='Déconnexion de Laclasse.com'>Déconnexion</a>
    </div>

    <div class="tile small red">
      <span class="glyphicon glyphicon-fire"></span>
    </div>

    <div class="tile small blue">
      <span class="glyphicon glyphicon-fire"></span>
    </div>

    <div class="tile small red">
      <span class="glyphicon glyphicon-fire"></span>
    </div>
  </div>
</div>
