<div class="modal-header">
	<h3 class="modal-title">Changement de mot de passe</h3>
</div>
<div class="modal-body config-fluxes">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-group" data-ng-class="{'wrong': current_user.wrong_password}" >
				<label for="oldpasswd">entrer l'ancien mot de passe :</label>
				<input type="password" class="form-control" id="oldpasswd"
					data-ng-change="mark_as_dirty()"
					data-ng-model="password.old">
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-group">
				<label for="newpasswd1">entre le nouveau mot de passe :</label>
				<input type="password" class="form-control" id="newpasswd1"
					data-ng-change="mark_as_dirty()"
					data-ng-model="password.new1">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-group">
				<label for="newpasswd2">confirmer le nouveau mot de passe :</label>
				<input type="password" class="form-control" id="newpasswd2"
					data-ng-change="mark_as_dirty()"
					data-ng-model="password.new2">
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button data-ng-click="fermer( true )"
		data-ng-if="( password.new1 != '' ) && ( password.new1 == password.new2 )">enregistrer</button>
</div>
