<div class="modal-header">
    <h3 class="modal-title">Ajouter une case</h3>
</div>
<div class="modal-body">
    <ul>
	<li class="new-app"
	    data-ng-repeat="app in apps"
	    data-ng-if="app.available() || app.creation"
	    data-ng-class="{'selected': app.selected, 'creation': app.creation}"
	    data-ng-click="selected( app )">

	    <a data-ng-if="!app.creation"
	       title="{{ app.description }}"
	       data-ng-style="{'background-color': app.color }">
		<img class="icone" data-ng-src="{{prefix}}/{{app.icon}}"
		     data-ng-if="app.icon"/>
		<span class="app-name" data-ng-cloak>{{ app.libelle }}</span>
	    </a>

	    <fieldset data-ng-if="app.creation">
		<legend>lien libre</legend>

		<label>libellé <input type="text" data-ng-model="app.libelle" /></label>
		<label>url <input type="text" data-ng-model="app.url" /></label>
	    </fieldset>
	</li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-ng-click="cancel()">
	<span class="glyphicon glyphicon-remove-sign"></span> Annuler
    </button>
    <button class="btn btn-success" data-ng-click="ok()">
	<span class="glyphicon glyphicon-ok-sign"></span> Valider
    </button>
</div>
