<div class="modal-header">
    <h3 class="modal-title">Gérer les flux RSS affichés sur le portail de l'établissement</h3>
</div>
<div class="modal-body config-fluxes">
    <ul>
	<li data-ng-repeat="flux in current_flux">
	    <label>titre <input type="text"
				data-ng-model="flux.title"
				data-ng-change="dirtify( flux )" /></label>
	    <label>url <input type="text"
			      data-ng-model="flux.flux"
			      data-ng-change="dirtify( flux )" /></label>
	    <label>nombre d'articles à inclure <select data-ng-options="minute for minute in minutes"
						       data-ng-model="flux.nb"
						       data-ng-change="dirtify( flux )" /></select>
	    </label>

	    <div class="controls">
		<button class="btn-default delete"
			data-ng-click="delete( flux )"><span class="glyphicon glyphicon-trash"></span></button>
		<button class="btn-primary save"
			data-ng-if="flux.dirty"
			data-ng-click="save( flux )"><span class="glyphicon glyphicon-ok-sign"></span></button>
	    </div>
	    <div class="clearfix"></div>
	</li>
    </ul>
    <div class="clearfix"></div>

    <button data-ng-click="add_flux()"><span class="glyphicon glyphicon-plus-sign"></span></button>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-ng-click="close()">
	<span class="glyphicon glyphicon-remove-sign"></span> Fermer
    </button>
</div>
