<div class="row-fluid portail">
  <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 info">

    <div class="row-fluid header">
      <div class="col-xs-6 col-s-m6 col-md-6 col-lg-6">

      </div>
      <div class="col-xs-6 col-s-m6 col-md-6 col-lg-6 avatar">
	<a href='login' title='Connexion avec Laclasse.com' data-ng-show="currentUser.is_logged">Connexion</a>
	<a href='logout' title='Déconnexion de Laclasse.com' data-ng-hide="currentUser.is_logged">Déconnexion</a>
      </div>
    </div>

    <div class="row-fluid slider">
      <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
	des images qui défilent
      </div>
    </div>

    <div class="row-fluid footer">
      <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
	Là des choses du footer
      </div>
    </div>

  </div>
  <div class="col-xs-8 col-s-m8 col-md-8 col-lg-8 damier">

    <div data-ng-repeat="app in apps" class="petite case {{ app.couleur }}" >
      <span class="compteur-notification" data-ng-show="app.notifications.length > 0">{{app.notifications.length}}</span>
      <a href="{{app.lien}}" data-ng-show="app.lien !== ''"><span class="app-icon">{{app.icone}}</span></a>
    </div>

  </div>
</div>
