<div class="row-fluid portail">
  <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 info">

    <div class="row-fluid header">
      <div class="col-xs-6 col-s-m6 col-md-6 col-lg-6">
      </div>
      <div class="col-xs-6 col-s-m6 col-md-6 col-lg-6 avatar">
	<a href='login' title='Connexion avec Laclasse.com'>Connexion</a>
	<br>
	<a href='logout' title='Déconnexion de Laclasse.com'>Déconnexion</a>
      </div>
    </div>

    <div class="row-fluid slider">
      <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
	des images qui défilent
      </div>
    </div>

    <div class="row-fluid footer">
      <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
	Là des choses du footer
      </div>
    </div>

  </div>
  <div class="col-xs-8 col-s-m8 col-md-8 col-lg-8 damier">

    <div class="petite case red">
      <span class="compteur-notification">256</span>
      <a href="/portail/#/show-app"><span class="app-icon">♨</span></a>
    </div>

    <div class="petite case blue">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case yellow">
      <span class="compteur-notification">256</span>
      <a href="/portail/#/show-app"><span class="app-icon">♨</span></a>
    </div>

    <div class="petite case yellow">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case blue">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="compteur-notification">256</span>
      <a href="/portail/#/show-app"><span class="app-icon">♨</span></a>
    </div>

    <div class="petite case red">
    </div>

    <div class="petite case blue">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
    </div>

    <div class="petite case yellow">
    </div>

    <div class="petite case yellow">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case blue">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case blue">
      <span class="app-icon">♨</span>
    </div>

    <div class="petite case red">
      <span class="app-icon">♨</span>
    </div>

  </div>
</div>
