<div class="row-fluid portail">
  <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 aside">

    <div class="row-fluid header">
      <div class="col-xs-6 col-s-m6 col-md-6 col-lg-6 logolaclasse gris4">
	<a href="{{APPLICATION_PREFIX}}">
	  <data-ng-include class="svg" src="APPLICATION_PREFIX+'/app/bower_components/charte-graphique-laclasse-com/images/logolaclasse.svg'"></data-ng-include>
	  <br>
	  <h3>laclasse.com</h3>
	</a>
      </div>

      <div class="col-xs-6 col-s-m6 col-md-6 col-lg-6 user">

	<span class="user-info" data-ng-show="current_user.is_logged">
	  <data-ng-include class="svg"
			   src="APPLICATION_PREFIX+'/app/bower_components/charte-graphique-laclasse-com/images/avatar_feminin.svg'"
			   data-ng-show="current_user['extra']['sexe'] === 'F'"></data-ng-include>
	  <data-ng-include class="svg"
			   src="APPLICATION_PREFIX+'/app/bower_components/charte-graphique-laclasse-com/images/avatar_masculin.svg'"
			   data-ng-show="current_user['extra']['sexe'] === 'M' || current_user['extra']['sexe'] === null"></data-ng-include>
	  <h3>{{current_user['info']['LaclassePrenom']}} {{current_user['info']['LaclasseNom']}}</h3>
	  <select data-ng-model="current_user['profil_actif']"
		  data-ng-options="profil['etablissement'] + ' : ' + profil['nom'] group by profil['etablissement'] for profil in current_user['profils']" data-ng-change="reload()">
	  </select>
	</span>

	<span class="button-wrapper">
	  <a href="logout" title="Déconnexion de Laclasse.com" data-ng-show="current_user.is_logged">se déconnecter</a>
	  <a href="login" title="Connexion avec Laclasse.com" data-ng-hide="current_user.is_logged">se connecter</a>
	</span>

      </div>

    </div>

    <div class="row-fluid slider">
      <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">

	<ul data-rn-carousel data-rn-carousel-control data-rn-carousel-indicator>
	  <li>des</li>
	  <li>images</li>
	  <li>qui</li>
	  <li>défilent</li>
	</ul>

      </div>
    </div>

  </div>
  <div class="col-xs-8 col-s-m8 col-md-8 col-lg-8 damier">

    <div data-ng-repeat="app in apps" class="petite case {{ app.couleur }}" >
      <a href="{{ app.lien }}" data-ng-show="app.active === true && app.lien !== ''">
	<span class="compteur-notification orange-brillant" data-ng-show="app.notifications.length > 0">{{app.notifications.length}}</span>
	<data-ng-include class="svg" src="app.icone"></data-ng-include>
	<br>
	<span>{{ app.nom }}</span>
      </a>
    </div>

  </div>
</div>
