<div class="row portail ressources-numeriques">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 aside">
	<p class="laius">
	    Retrouvez ici les ressources numériques que votre établissement a sélectionné pour vous.
	    Ces ressources peuvent être des manuels scolaires en ligne, des dictionnaires,
	    des sites proposant des ressources pour s'entraîner, etc...
	</p>
	<p class="laius">
	    Si rien n'est affiché dans cette page, c'est que votre établissement n'a pas encore activé les ressources numériques.
	    Vous pouvez contacter un de vos administrateur de l'ENT pour lui demander l'activation de celles-ci.
	</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<div class="row damier">
	    <div data-ng-repeat="ressource in ressources_numeriques| orderBy:'index'"
		 class="col-xs-12 col-sm-6 col-md-3 col-lg-3 petite case animate scale-fade-in"
		 data-ng-class="{'empty': !ressource.code}"
		 data-ng-style="{'background-color': ressource.color }">
		<a title="{{ressource.nom_court}}" href="{{ressource.url_access_get}}" data-ng-if="ressource.code != ''" target="_blank">
			<img draggable="false" data-ng-src="{{prefix}}/app/vendor/charte-graphique-laclasse-com/images/{{ ressource.icone }}">
			<span class="app-name">{{ressource.lib}}</span>
		</a>
	    </div>
	</div>
    </div>
</div>
