<div id="app-wrapper">


    <div class="en-tete container gris4" role="navigation">
	<a class="laclasse-com gris1 pull-left" href="{{prefix}}/">
	    <div class="petit-logo gris4" data-ng-style="{'background-image': 'url(' + prefix + '/app/vendor/charte-graphique-laclasse-com/images/logolaclasse.svg)' }" >
	    </div>
	    <span>laclasse.com</span>
	</a>

	<span class="titre" data-ng-cloak>{{app.nom}}</span>

	<div class="dropdown user-menu pull-right" dropdown>
	    <a class="dropdown-toggle" id="dropdownMenu1" dropdown-toggle>
		{{current_user.prenom}} {{current_user.nom}}
	    </a>
	    <ul class="gris3 dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" dropdown-menu>
		<li>
		    <a href="/"
		       data-ng-style="{'background-image': 'url(' + prefix +'/vendor/charte-graphique-laclasse-com/images/logolaclasse.svg)' }" >
			retour au portail
		    </a>
		</li>
		<li>
		    <a data-ui-sref="app-wrapper({ app: 'aide' })"
		       data-ng-style="{'background-image': 'url(' + prefix +'/vendor/charte-graphique-laclasse-com/images/12_aide.svg)' }" >
			aide
		    </a>
		</li>
		<li>
		    <a href="/logout"
		       data-ng-style="{'background-image': 'url(' + prefix +'/vendor/charte-graphique-laclasse-com/images/12_aide.svg)' }" >
			se déconnecter
		    </a>
		</li>
	    </ul>
	</div>

	<select class="gris4 profil-select-wrapper pull-right"
		data-ng-if="current_user.is_logged"
		data-ng-controller="ProfilActifCtrl"
		data-ng-model="current_user.profil_actif"
		data-ng-change="reload()"
		data-ng-options="profil as profil.etablissement + ' : ' + profil.nom group by profil.etablissement for profil in current_user.profils track by profil.index" >
	</select>
    </div>

    <div class="row iframe" data-ng-class="{'ios': iOS}">
	<iframe data-ng-src="{{app.url}}" ng-if="!app.static"
		frameBorder="0"
		scrolling="{{iOS ? 'no': 'yes'}}">
	</iframe>

	<div data-ng-if="app.static" ng-include="app.url">
	</div>
    </div>
</div>
