<div id="app-wrapper">
  <div class="row-fluid en-tete">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse">

	  <a class="petit-logo pull-left" href="{{APPLICATION_PREFIX}}">
	    <data-ng-include class="svg" src="APPLICATION_PREFIX+'/app/bower_components/charte-graphique-laclasse-com/images/logolaclasse.svg'"></data-ng-include>
	  </a>

	  <div class="portail-menu dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2 gris4 pull-leftt">
	    <a class="dropdown-toggle">
	      menu portail
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu col-xs-2 col-sm-2 col-md-2 col-lg-2 gris4 gris4">
	      <li class="gris4" ng-repeat="item in menu">
		<a>{{item}}</a>
	      </li>
	    </ul>
	  </div>

	  <span class="col-xs-7 col-sm-7 col-md-7 col-lg-7 bleu">titre</span>

	  <div class="user-menu dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2 gris4 pull-leftt">
	    <a class="dropdown-toggle">
	      menu utilisateur
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu col-xs-2 col-sm-2 col-md-2 col-lg-2 gris4 gris4">
	      <li class="gris4" ng-repeat="item in menu">
		<a href="{{item.lien}}">
		  <data-ng-include class="svg" src="APPLICATION_PREFIX+'/app/bower_components/charte-graphique-laclasse-com/images/' + item.icone"></data-ng-include>
		  {{item.texte}}
		</a>
	      </li>
	    </ul>
	  </div>

	</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  </div>

  <div class="row-fluid iframe">
    <iframe src="http://getbootstrap.com/">
    </iframe>
  </div>
</div>
