<div id="app-wrapper">
  <div class="row-fluid en-tete">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse">

	  <a class="laclasse-com gris1 pull-left col-xs-1 col-sm-1 col-md-1 col-lg-1" href="{{APPLICATION_PREFIX}}">
	    <div class="petit-logo gris4">
	      <data-ng-include class="svg" src="APPLICATION_PREFIX+'/app/bower_components/charte-graphique-laclasse-com/images/logolaclasse.svg'"></data-ng-include>
	    </div>
	    <span>laclasse.com</span>
	  </a>

	  <span class="titre col-xs-9 col-sm-9 col-md-9 col-lg-9 bleu">titre</span>

	  <div class="user-menu dropdown col-xs-2 col-sm-2 col-md-2 col-lg-2 gris4 pull-right">
	    <a class="dropdown-toggle">
	      <h6>{{current_user['info']['LaclassePrenom']}} {{current_user['info']['LaclasseNom']}}</h6>
	      <span class="caret"></span>
	    </a>
	    <ul role="menu" class="dropdown-menu gris3">
	      <li ng-repeat="item in menu">
		<a href="{{item.lien}}">
		  <data-ng-include class="svg" src="APPLICATION_PREFIX+'/app/bower_components/charte-graphique-laclasse-com/images/' + item.icone"></data-ng-include>
		  {{item.texte}}
		</a>
	      </li>
	      <li class="divider"></li>
	      <li>
		<a class="dropdown-toggle">
		  ^
		</a>
	      </li>
	    </ul>
	  </div>

	</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  </div>

  <div class="row-fluid iframe">
    <iframe src="http://getbootstrap.com/">
    </iframe>
  </div>
</div>
