<div class="row-fluid damier">
  <div data-ng-repeat="app in current_user.apps" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 petite case {{ app.couleur }}" >
    <a href="{{ app.lien }}" data-ng-show="app.active === true && app.lien !== ''"
       data-ng-style="{'background-image': 'url(' + app.icone + ') '}">
      <span class="compteur-notification orange-brillant" data-ng-show="app.notifications.length > 0">{{app.notifications.length}}</span>
      <span class="app-name">{{ app.nom }}</span>
    </a>
  </div>
</div>
