html,
#app-wrapper {
    overflow: hidden;
}

div,
html,
body {
    height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    border-bottom: 1px solid #e5e5e5;
    h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
    }
}
.footer {
    padding-top: 19px;
    color: #b2b2b2;
    border-top: 1px solid #e5e5e5;
}
.container-narrow {
    & > hr {
	margin: 30px 0;
    }
}
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}
#flash {
    display: none;
}
.container {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
    * {
	margin: 0;
	padding: 0;
    }
}
.aside {
    background-color: #16161d;
    box-shadow: 5px 0 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
    .header {
	height: 25%;
    }
    .logolaclasse,
    .user {
	height: 25%;
	border-bottom: 1px solid #fff;
    }
    .user {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	.user-info {
	    text-align: left;
	    display: block;
	    position: relative;
	    height: 100%;
	    width: 100%;
	    background-color: rgba( 0, 0, 0, 0.5 );
	    transition: all 0.4s ease-in-out 0s;
	    &:hover {
		background-color: rgba( 0, 0, 0, 0.2 );
	    }
	    * {
		float: left;
		width: 100%;
	    }
	    h3 {
		font-weight: 700;
		position: absolute;
		left: 0;
		&.initiales {
		    top: 20%;
		}
		&.full-name {
		    top: 40%;
		}
	    }
	    a {
		color: #fff;
	    }
	    .logout {
		border: 1px solid #fff;
		background-color: rgba( 0, 0, 0, 0.6 );
		text-transform: uppercase;
		width: 11em;
		padding: 0.25em;
		position: absolute;
		top: 85%;
		left: calc( 50% - 11em / 2 );
	    }
	    select {
		color: #fff;
		background-color: rgba( 0, 0, 0, 0.6 );
		border: 0;
		font-weight: lighter;
		width: 100%;
		position: absolute;
		top: 70%;
		left: 0;
	    }
	    svg {
		bottom: 0;
		left: 0;
		opacity: 0.5;
		position: absolute;
	    }
	}
    }
    .avatar {
	background-color: #aff;
    }
    .news {
	height: 75%;
	.bouton-config-news {
	    background-image: url('../vendor/laclasse-common-client/images/icon_admin-outils-gris.svg');
	}
	.news-image {
	    transition: all 0.4s ease-in-out 0s;
	    margin: auto;
	    width: 100%;
	    max-height: 67%;
	    opacity: 0.6;
	}
	.carousel-control.right,
	.carousel-control.left {
	    background-image: none;
	}
	.carousel-control .icon-prev,
	.carousel-control .icon-next,
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
	    top: 33%;
	}
	.carousel-caption {
	    background-color: rgba(255,255,255,0.1);
	    color: #fff;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    height: 33.333%;
	    width: 100%;
	    padding: 1em;
	    font-size: 12px;
	    font-weight: normal;
	    text-align: left;
	    h6 {
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		font-weight: bolder;
		text-transform: uppercase;
	    }
	    .lire-la-suite {
		color: #fff;
		text-decoration: underline;
		font-weight: bolder;
		float: right;
	    }
	    .pub-date {
		color: #ddd;
		font-size: 0.8em;
		float: right;
	    }
	}
	.rn-carousel-controls {
	    .rn-carousel-control {
		font-family: FontAwesome;
		color: #fff;
		font-size: 3em;
		top: 33%;
	    }
	    .rn-carousel-control-prev::before {
		content: '';
	    }
	    .rn-carousel-control-next::before {
		content: '';
	    }
	}
    }
    .news:hover {
	.news-image{
	    opacity: 0.9;
	}
	.rn-carousel-controls {
	    .rn-carousel-control {
		text-shadow: 0 0 1px #16161d;
	    }
	}
    }
    .angular-carousel-indicators {
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 25%;
	text-align: center;
	.rn-carousel-indicator {
	    span,
	    span.active {
		height: 12px;
		width: 12px;
		margin: 1px 6px;
	    }
	}
    }
    .laius {
	margin: 40px;
	text-align: justify;
    }
}

.logolaclasse h3 {
    color: #fff;
    font-weight: 700;
    padding: 0;
    text-decoration: none;
}

.damier {
    overflow-y: auto;
    background-color: #eee;
    .floating-button.off {
	background-image: url('../vendor/laclasse-common-client/images/icon_admin-outils-gris.svg');
    }
    ul {
	height: 100%;
    }
    .case {
	float: left;
	position: relative;

	&.unavailable {
	    .front {
		opacity: 0.33;
		// .app-name {
		//     text-decoration-line: line-through;
		//     text-decoration-style: double;
		//     text-decoration-color: red;
		// }
	    }
	}
	&.petite {
	    .toggle-configure {
		background: transparent;
		position: absolute;
		cursor: pointer;
		top: 0.5em;
		left: 0.5em;
		height: 1em;
		width: 1em;
		.icone {
		    display: inline-block;
		    height: 100%;
		    width: 100%;
		    background-position: center;
		    background-size: 100% 100%;
		}
		.icone.parametrer {
		    background-image: url('../vendor/laclasse-common-client/images/icon_admin-parametrer.svg');
		}
		.icone.visualiser {
		    background-image: url('../vendor/laclasse-common-client/images/icon_admin-viz.svg');
		}
	    }
	    .configure {
		padding: 0.5em;
		padding-top: 1em;
		font-size: 0.9em;
		label {
		    text-align: left;
		    width: 100%;
		    input {
			font-size: 0.9em;
		    }
		}
		.remove {
		    padding: 2px;
		    position: absolute;
		    top: 0.6em;
		    right: 2.6em;
		    color: red;
		}
		.form-control {
		    height: auto;
		}
	    }
	    .app-name {
		position: absolute;
		font-size: 16px;
		line-height: 1.1em;
		max-height: 2.2em;
		left: 0;
		bottom: 10px;
		.glyphicon {
		    font-size: 75%;
		}
	    }
	    a {
		.compteur-notification {
		    border-radius: 1em;
		    color: #fff;
		    font-size: 2em;
		    font-weight: bolder;
		    padding: 0 .4em;
		    position: absolute;
		    right: .5em;
		    top: .5em;
		}
	    }
	}				// .petite
	&.grande {
	    height: 75%;
	}
    }

    &.modification {
	.floating-button {
	    &.on {
		background-image: url('../vendor/laclasse-common-client/images/icon_admin-outils-blancs.svg');
	    }
	    &.save {
		background-image: url('../vendor/laclasse-common-client/images/icon_admin-valider.svg');
	    }
	    &.cancel {
		background-image: url('../vendor/laclasse-common-client/images/icon_admin-annuler.svg');
	    }
	    &.add-app {
		background-image: url('../vendor/laclasse-common-client/images/icon_admin-ajouter.svg');
	    }
	}
	.exit-configure {
	    button {
		font-size: 2em;
		height: 20%;
		margin-top: 15%;
		width: 75%;
	    }
	}
	.petite.case {
	    position: relative;
	    width: 24%;
	    height: 23.7%;
	    margin: 0.5%;
	    animation-delay: 0.25s;
	    animation-duration: 0.05s;
	    animation-iteration-count: 5;

	    .inactive {
		opacity: 0.33;
	    }
	    .couleurs {
		position: absolute;
		right: 0.5em;
		top: 0.5em;
	    }

	    &.show-back {
		.toggle-configure {
		    left: auto;
		    right: 0.5em;
		}
	    }
	    &:nth-child( 2n ) {
		animation-name: keyframes1;
	    }
	    &:nth-child( 2n - 1 ) {
		animation-name: keyframes2;
		animation-direction: alternate;
	    }
	}

	.ui-sortable-helper {
	    box-shadow: 5px 5px 10px 0 #ececec;
	}

	ng-color-picker {
	    display: inline-block;
	}
    }
}

@keyframes keyframes1 {
    0% {
	transform: rotate(-1deg);
	animation-timing-function: ease-in;
    }
    50% {
	transform: rotate(1.5deg);
	animation-timing-function: ease-out;
    }
}

@keyframes keyframes2 {
    0% {
	transform: rotate(1deg);
	animation-timing-function: ease-in;
    }
    50% {
	transform: rotate(-1.5deg);
	animation-timing-function: ease-out;
    }
}

.damier .petite.case {
    text-align: center;
}
.damier .petite.case a,
.damier .petite.case span,
.logolaclasse a {
    color: #fff;
    float: left;
    height: 100%;
    text-decoration: none;
    width: 100%;
}
.logolaclasse {
    text-align: center;
    cursor: pointer;
    a {
	h3 {
	    font-size: 2em;
	    font-weight: bold;
	    line-height: 2em;
	}
    }
    h3 {
	max-height: 33%;
	font-size: 1.5em;
	font-weight: lighter;
    }
}

.logolaclasse img,
.logolaclasse h3,
.damier .petite.case .icone,
.damier .petite.case .app-name {
    float: left;
}
.logolaclasse img,
.damier .petite.case .icone {
    margin-top: 5%;
    height: 66%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 10em;
    font-style: normal;
    font-weight: bolder;
}
.logolaclasse h3,
.damier .petite.case .app-name {
    width: 100%;
    overflow: hidden;
}

.en-tete {
    color: #fff;
    border: 0;
    height: 3em;
    line-height: 3;
    max-height: 3em;
    min-height: 3em;
    .petit-logo {
	display: inline-block;
	float: left;
	padding-top: 1px;
	width: 3em;
	height: 3em;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: auto 90%;
    }
    .titre {
	font-weight: bolder;
	font-size: 14px;
	padding-left: 1em;
    }
    .profil-select-wrapper {
	height: 100%;
	border: 0;
	float: right;
	color: #fff;
    }
    .user-menu {
	color: #fff;
	text-align: right;
	min-width: 14em;
	.dropdown-toggle,
	.dropdown-menu {
	    width: 100%;
	}
	.dropdown-toggle {
	    font-size: 14px;
	    font-weight: bolder;
	}
	a {
	    color: #fff;
	    cursor: pointer;
	    display: inline-block;
	    text-decoration: none;
	    font-weight: bold;
	}
	ul {
	    border: 0;
	    border-radius: 0;
	}
	li {
	    border-top: 1px solid #fff;
	    text-align: left;
	    a {
		color: #fff;
		background-position: left center;
		background-repeat: no-repeat;
		background-size: auto 80%;
		height: 3.5em;
		line-height: 3em;
		padding: .25em;
		padding-left: 3em;
		width: 100%;
		* {
		    float: left;
		}
		svg {
		    height: 3em;
		    width: 3em;
		}
	    }
	    a:hover {
		background-color: #16161d;
		background-repeat: no-repeat;
		color: #fff;
		span {
		    background-color: #16161d;
		}
	    }
	}
    }
}

.laclasse-com {
    float: left;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    a {
	color: #fff;
	text-decoration: none;
    }
    span {
	display: inline-block;
	float: left;
	color: #fff;
	min-width: 9em;
    }
}

.iframe {
    height: calc( 100% - 3em );
    iframe {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
    }
    &.ios {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
    }
}
.user-profil {
    background: #ececed;
    padding: 0 1em;
    h3 {
	color: #b2b2b2;
	font-weight: bolder;
    }
    h1 {
	color: #1aa1cc;
	font-weight: bolder;
    }
    h2 {
	color: #1aa1cc;
	font-size: 1.5em;
    }
    header {
	height: 12em;
	position: absolute;
	width: calc( 100% - 2em );
	padding-left: 3em;
    }
    .form {
	bottom: 5em;
	height: calc( 100% - 12em - 5em );
	overflow-y: auto;
	position: absolute;
	top: 12em;
	width: calc( 100% - 2em );
    }
    accordion {
	.panel {
	    background: transparent;
	    border: 0;
	    box-shadow: 0;
	}
	.panel-heading {
	    background: transparent;
	    border-top: 1px solid #b2b2b2;
	    a {
		span {
		    color: #b2b2b2;
		}
	    }
	}
	.panel-body {
	    .row {
		div {
		    padding: 1em;
		}
		div.avatar {
		    padding-top: 3.8em;
		    text-align: center;
		}
	    }
	}
    }
    .accordion-toggle {
	display: inline-block;
	height: 100%;
	padding: 1em;
	width: 100%;
    }
    label {
	font-weight: 400;
	padding-bottom: .33em;
    }
    input,
    .date-naissance {
	background-color: #b2b2b2;
	border-radius: 0;
	color: #000;
	padding: 0 3px;
	line-height: 34px;
    }
    .date-naissance {
	.dropdown-toggle {
	    display: inline-block;
	    height: 100%;
	    width: 100%;
	}
    }
    .avatar {
	svg {
	    background: blue;
	    fill: #FF0;
	}
	img {
	    background-color: #1aa1cc;
	}
	.reset img {
	    opacity: 0.25;
	}
	button {
	    background: none repeat scroll 0 0 #fff;
	    border: 1px solid;
	    border-radius: 0;
	    padding: 6px 12px;
	}
    }
    footer {
	background-color: #ececed;
	border-top: 1px solid #b2b2b2;
	bottom: 0;
	height: 5em;
	padding: 1.25em;
	position: absolute;
	text-align: center;
	width: calc( 100% - 2em );
	button {
	    border: 1px solid #000;
	    margin: 0 1em;
	    padding: .5em 2em;
	    text-transform: uppercase;
	}
    }
    *,
    a {
	color: #16161d;
    }
    h1,
    h2,
    h3 {
	line-height: 1.5em;
    }
}

.panel-group div,
.user-profil accordion,
.user-profil accordion div {
    height: auto;
}

svg {
    * {
	fill: #fff;
    }
}

.modal-dialog,
.modal-dialog div {
    height: auto;
}

// Popup de configuration des flux RSS
.config-fluxes {
    button {
	height: 2em;
	width: 2em;
	border-radius: 1em;
	line-height: 1em;
	position: absolute;
	right: 3px;
	&.delete {
	    bottom: 3px;
	}
	&.save {
	    top: 3px;
	}
    }
    ul {
	padding: 0;
	li {
	    list-style: none;
	    margin-bottom: 1em;
	    box-shadow: 1px 2px 3px 0 #89a;
	    position: relative;
	    padding: 3px;
	    label {
		float: left;
		width: calc( 100% - 2.5em );
		input {
		    float: right;
		    width: 75%;
		}
	    }
	    .controls {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 2.5em;
	    }
	}
    }
}

// Popup d'ajout d'app
.new-app {
    background-color: #777;
    opacity: 0.66;
    float: left;
    height: 10em;
    list-style: outside none none;
    width: 10em;
    margin: 0.5em;
    cursor: pointer;
    a {
	display: block;
	height: 100%;
	width: 100%;
	.icone {
	    width: 100%;
	    height: 66%;
	    margin-top: 1em;
	}
	.app-name {
	    display: inline-block;
	    color: #fff;
	    width: 100%;
	    text-align: center;
	    font-size: 85%;
	}
    }
    &.selected {
	box-shadow: 0 0 0 4px #8e8e8e;
	opacity: 1;
    }
    &.creation {
	width: 21em;
	height: 11em;
	padding: 0.25em;
	color: #ececec;
	legend {
	    margin: 0;
	    color: #ececec;
	}
	label,
	input {
	    width: 100%;
	}
	input {
	    color: #16161d;
	}
    }
}

.ressources-numeriques,
.classes-culturelles-numeriques {
    .aside {
	background-color: white;
    }
    .damier {
	height: calc( 100% - 3em );
    }
}

// Trombinoscope
.trombinoscope {
    h1 {
	font-size: 2em;
    }
    h3 {
	font-size: 1.2em;
    }
    .filters {
	height: 3em;
	line-height: 3em;
	color: #fff;
	input {
	    border: 0;
	    padding: 0 3px;
	    font-weight: bold;
	    font-size: 1.25em;
	}
    }
    .damier {
	height: calc( 100% - 6em );
    }
    .avatar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 1;
    }
    .petite.case{
	.classe-name,
	.college-name,
	.trombi-first-name,
	.trombi-last-name {
	    display: flex;
	    justify-content: center;
	    align-content: center;
	    flex-direction: column; /* column | row */
	    font-weight: bold;
	    z-index: 2;
	    color: #fff;
	}
	.classe-name,
	.trombi-first-name {
	    height: 60%;
	}
	.college-name,
	.trombi-last-name {
	    /* height: 40%; */
	}
	&.classe{
	    span {
		height: auto;
	    }
	}
    }
    a {
	cursor: pointer;
    }
}

.checkbox {
    height: 2em;
    width: 2em;
}


#toast-container {
    height: auto;
}
