/* Mobile & Tablet, portrait */
@media screen and (orientation: portrait) {
    /* Page publique */
    .page_publique .connexion {left:50%;}
    .page_publique .connexion .bienvenue {font-size: 1.4em;}
    .page_publique .title { top:50%; left: 5%; }
    .page_publique .title .nomENT {font-size: 1.1em;}
    .page_publique .title .descENT {font-size: 0.5em;}
    .page_publique .connexion .btn-sm{font-size: 0.5em;}
    .page_publique .annonce {font-size: 0.5em;}

    /* Page loggué */
    .news { display: none; }
    .aside { height: 3em; }
    .aside .logolaclasse, .aside .user { height: 100%; }
    .aside .logolaclasse a img { height: 100%;
				 width: auto; }
    .aside .logolaclasse a h3 { height: 100%;
				max-height: 100%;
				width: auto; }
    .user-info a.logout, .user-info br { display: none; }

    /* Page loggué, damier */
    .damier .toggle-modification { display: none; }

    /* Page loggué, user */
    .user-profil h1, .user-profil h2, .user-profil h3 { line-height: 1em; }
    .user-profil h1 { font-weight: 1.5em; }
    .user-profil div.form { bottom: 8em;
			    height: calc(100% - 12em - 8em); }
    .user-profil footer { height: 8em; }
    .user-profil footer button { padding: 0.25em 0.5em; }

    /* Page app wrapper */
    .en-tete, .en-tete .navbar { height: 3em;
				 max-height: 3em;
				 min-height: 3em; }
    .laclasse-com .petit-logo { width: 3em;
				height: 3em; }
}
@media screen and (orientation: portrait) and (max-width: 400px) {
    .user-info a h3 { font-size: 1em; }

    .aside .logolaclasse a h3 { font-size: 1em;
				line-height: 3em; }
    #app-wrapper .user-menu .profil-select-wrapper, .app-wrapper .user-menu a { max-width: calc( 50% - 1.5em ); }
}
@media screen and (orientation: portrait) and (min-width: 400px) {
    .user-info a h3 { font-size: 1.25em; }
    .aside .logolaclasse a h3 { font-size: 1.5em;
				line-height: 2em; }
    .user-menu .profil-select-wrapper, .user-menu a { max-width: 15em; }
}
@media screen and (orientation: portrait) and (max-width: 640px) {
    .en-tete .laclasse-com span { display: none; }
    .user-menu { width: calc( 100% - 3em ); }
}

/* Mobile, paysage */
@media screen and (orientation: landscape) and (max-height: 480px) {
    .page_publique .connexion .bienvenue {font-size: 1.5em;}
    .page_publique .title .nomENT {font-size: 1.1em;}
    .page_publique .title .descENT {font-size: 0.5em;}
    .page_publique .connexion .btn-sm{font-size: 0.9em;}
    .page_publique .annonce {font-size: 0.5em;}

    .petite.case { height: 50%; }
}

/* Tablet, paysage */
@media screen and (orientation: landscape) and (max-height: 768px) {
    .damier .logos img { margin: 5% auto 0; }
    .damier .petite.case { height: 33% }
    .damier .petite.case a { background-position: center top }
    .damier .petite.case .app-name { font-weight:normal }
    .damier .petite.case a span { font-size:1.1em }
    .rn-carousel-slide .news-content h6 { font-size: 1.2em }
    .rn-carousel-slide .news-content { font-size: 0.9em }
}

/* Desktop */
@media screen and (orientation: landscape) and (min-width: 992px) {
    .aside .slider { height:75% }
    .aside .user .connect-register a { margin:20% auto 0 }
}
