@media screen and (max-height: 660px) {
    .damier .petite.case a .app-name {
	bottom: 5px;
    }
}

/* -xs, -sm */
@media screen and (max-width: 992px) {
    /* Page loggué */
    .aside { height: 3em; }
    .classes-culturelles-numeriques .aside { height: 100%; }
    .aside .logolaclasse, .aside .user { height: 100%; }
    .aside .logolaclasse { width: 3em; }
    .aside .logolaclasse a h3 { font-size: 1.7em; }
    .aside .logolaclasse a img { height: 100%;
				 width: auto;
				 margin-top: 0; }
    .aside .user { width: calc( 100% - 3em );
		   background-position: left; }
    .aside .user .user-info select { top: 0;
				     left: 3em;
				     height: 100%;
				     width: 100%; }
    .damier { height: calc( 100% - 3em ); }

    /* Page profil utilisateur */
	.user-profil { height: calc( 100% - 3em ); }

    /* Page app wrapper */
    .en-tete .profil-select-wrapper { width: calc( 100% - 3em ); }
}

/* -xs */
@media screen and (orientation: landscape) and (max-height: 640px) {
    .damier .petite.case { height: 33%; }
}
@media screen and (orientation: landscape) and (max-height: 400px) {
    .damier .petite.case { height: 50%; }
}
