@media screen and (max-height: 660px) {
    .damier .petite.case a .app-name {
	bottom: 5px;
    }
}

/* -xs, -sm */
@media screen and (max-width: 992px) {
    /* Page loggué */
    .aside { height: 42px; right: 0px; width: 100%; }
	.main {
		left: 0px; top: 42px;
	}
	.mainapp {
		top: 42px;
	}
	.mainapp .main {
		top: 0px;
	}
	.mainapp .aside {
		display: none;
	}
    .classes-culturelles-numeriques .aside { height: 100%; display: none; }
    .aside .logolaclasse, .aside .user { height: 100%; }
    .aside .logolaclasse { width: 42px; }
/*    .aside .logolaclasse a h3 { font-size: 1.7em; }*/
    .aside .logolaclasse a img { height: 100%;
				 width: auto;
				 margin-top: 0; }
    .aside .user {
		width: calc( 100% - 42px );
		background-position: left;
	}
    .aside .user .user-info select {
		top: 0;
		left: 42px;
		height: 100%;
		max-width: calc( 100% - 84px );
		width: auto;
	}

    .aside .user .user-info { top: 0px; padding: 0px; }

    .aside .user .user-info * { margin-top: 0px;}

	.aside .user .user-info h3 {
		font-size: 24px;
		width: 100%; height: 100%; text-align: center;
		margin-top: 8px; margin-bottom: 8px;
	}

    .aside .user .user-info a { width: 42px; }

    .damier { height: calc( 100% - 42px ); }

    /* Page profil utilisateur */
	.user-profil { height: calc( 100% - 42px ); }

    /* Page app wrapper */
    .en-tete .profil-select-wrapper { width: calc( 100% - 42px ); }
}

/* -xs */
@media screen and (orientation: landscape) and (max-height: 640px) {
    .damier .petite.case { height: 33%; }
}
@media screen and (orientation: landscape) and (max-height: 400px) {
    .damier .petite.case { height: 50%; }
}
