/* mini bootstrap.css */
body {
    line-height: 1.42857;
}
.btn-group-sm > .btn, .btn-sm {
    line-height: 1.5;
}
.btn-info {
    background-color: #5bc0de;
    color: #fff;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
a {
    text-decoration: none;
}

.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
    color: #FFF;
    background-color: #31B0D5;
    border-color: #269ABC;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

/* custom */
body {
    font-family: "Open Sans", sans-serif;
}
.page_publique {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1aaacc;
    color: white;
}
.page_publique .filtered-bg {
    opacity: 0.20;
    filter: alpha(opacity=20);
}
.page_publique .filtered-fg {
    opacity: 0.50;
    filter: alpha(opacity=50);
}
.page_publique .logo {
    width: 55%;
    position: absolute;
    top: -9.7%;
    left: -5.6%;
}
.page_publique .title {
    position: absolute;
    top: 72%;
    left: 10%;
    text-align: center;
}
.page_publique .nomENT {
    font-weight: bold;
    font-size: 2em;
}
.page_publique .descENT {
    font-size: 1.3em;
}
.page_publique .connexion {
    position: absolute;
    top: 30%;
    left: 60%;
    text-align: center;
}
.page_publique .connexion .btn-sm {
    font-size: 1.4em;
    font-variant: small-caps;
    padding: 1px 20px;
    border: 1px solid white;
    border-radius: 0;
}
.page_publique .connexion .bienvenue {
    font-size: 3em;
    font-weight: bolder;
}
.page_publique .footer {
    text-align: center;
}
.page_publique .footer .rhone {
    width: 25%;
    position: absolute;
    top: 0;
    left: 40%;
}
.page_publique .footer .acad {
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 1%;
}
.page_publique .annonce {
    text-align: left;
    padding: 2%;
    margin: 5%;
    height: 30%;
    overflow-y: auto;
}
.page_publique .aide {
    position: absolute;
    right: 1%;
    width: 5%;
}

/**** Responsivity ****************************************************************/
@media screen and (max-height: 778px) {
    .page_publique .connexion {left:50%;}
    .page_publique .title { top:50%; left: 5%; }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
    .page_publique .connexion .bienvenue {font-size: 1.4em;}
    .page_publique .connexion .btn-sm{font-size: 1.1em;}
}

@media screen and (orientation: landscape) and (max-width: 778px) {
    .page_publique .connexion .bienvenue {font-size: 1.4em;}
    .page_publique .connexion .btn-sm{font-size: 1.1em;}
    .page_publique .nomENT { font-size: 1.25em; }
    .page_publique .descENT { font-size: 1em; }

}
