# coding: utf-8
#
# Fichier de configuration de l'application
#

# development ou production
ENV[ 'RACK_ENV' ] = 'development'

# niveau de log de l'application
LOG_LEVEL = Logger::INFO

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Mapping HAProxy de l'application, ex : '/v3/docs'
APP_PATH = '/app'

# Version de l'application
APP_VERSION = '1.2.3'

# Langage par défaut de l'application
LANG = 'fr'

# Clé de hachage pour les cookies Rack
SESSION_KEY = 'SomeKey'

# Durée de la session en seconde (défaut 3600)
SESSION_TIME = 3600

# Url de l'ENT
URL_ENT = 'http://www.dev.laclasse.com'

# nom du serveur d'annuaire ENT (xml-aaf académiques)
SERVICE_ANNUAIRE_ENT = 'http://www.dev.laclasse/com/annuaire/'

#
# Configuration du Serveur d'Authentification Central CAS
#
module CASAUTH
  CONFIG = {
    host: 'www.dev.laclasse.com',
    ssl: true,
    port: 443,
    disable_ssl_verification: true,
    login_url: '/sso/login',
    service_validate_url: '/sso/serviceValidate',
    logout_url: '/sso/logout',
    logout_saml_url: '/saml/saml2/idp/SingleLogoutService.php',
    # full_host: 'www.dev.laclasse.com'   # Pour OmniAuthCAS
  }
end

#
# Configuration du service d'annuaire de l'ENT
#
ANNUAIRE = {
  url:                            'https://v3dev.laclasse.com/api',
  api_key:                        "Clé du portail dans l'annuaire=",
  app_id:                         'PORTAIL',
  api_mode:                       'v3',
  service_annuaire_user:          'app/users/',
  service_annuaire_regroupements: 'app/regroupements/',
  service_annuaire_profils:       'app/profils/',
  service_annuaire_personnel:     'app/etablissements/',
  service_annuaire_diffusionInfo: 'app/',
  service_annuaire_publipostage:  'app/publipostages/'
}

# #
# # Configuration du service Etherpad
# #
# ETHERPAD = {
#   url: 'http://www.dev.laclasse.com/pads',
#   api_key: 'Clé secrete de signature des échanges',
#   default_text: 'Vous etes a present sur etherpad. \n Celui-ci est un document collaboratif. \n'
# }

# #
# # Configuration du service de quizs
# #
# QUIZS = {
#   url: 'http://www.dev.laclasse.com',
#   uri_open: '/pls/education/quizz.lance_exercice?p_exo_id=',
#   uri_modif: '/pls/education/!page.laclasse?contexte=DOCUMENTS&paction=modifier_element&ptype=',
#   api_key: 'Clé secrete de signature des échanges'
# }

# #
# # Configuration du service de notifications
# #
# NOTIFICATIONS = {
#   mount: '#{APP_PATH}/faye',
#   timeout: 25,
#   engine: {
#     host: 'http://www.laclasse.com',
#     type: Faye::Redis,
#     port: 6379
#   }
# }

#
# Configuration du service REDIS
#
REDIS = {
  host: 'redis.dev.laclasse.lan',
  port: 6379,
  redis_root: 'com.laclasse.v3localhost'
}

# #
# # Configuration du service de mail
# #
# MAIL = {
#   adress: "smtp.laclasse.com",
#   enable_starttls_auto: false,
#   webmail_host: 'http://www.dev.laclasse.com/mail/'
# }
