:news_feed:
    -
        :titre: "Editoriaux d'Erasme"
        :flux: http://erasme-parc-dactivites-innovantes.blogs.dev.laclasse.com/feed/
        #http://erasme.blogs.laclasse.com/feed/
        :icone: ''
        :nb: 1  
    -
        :titre: "blog du projet ENT"
        :flux: http://test.blogs.dev.laclasse.com/feed/
        #http://ent-laclasse.blogs.laclasse.com/feed/
        :icone: ''
        :nb: 3
#    -
#        :titre: "Rhone.fr"
#        :flux: http://http://edurhone.blogs.laclasse.com/feed/
#        :icone: ''
#        :nb: 1    

:apps_publiques:
    -
	:id: 'thematiques'
	:nom: 'thematiques'
	:url: 'http://perdu.com'
    -
	:id: 'contact'
	:nom: 'contact'
	:url: 'http://perdu.com'
    -
	:id: 'aide'
	:nom: 'aide'
	:url: 'http://perdu.com'

:apps_tiles:
  MAIL:
    :index: 1
    :icone: "bower_components/charte-graphique-laclasse-com/images/01_messagerie.svg"
    :couleur: bleu
    :notifications: 0
    :url_notif: ''
    :nom: 'messagerie'
    :survol: ''
    :url: http://www.perdu.com
    :active: false
  DOC:
    :index: 2
    :icone: "bower_components/charte-graphique-laclasse-com/images/02_documents.svg"
    :couleur: jaune
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :active: false
  CTXT:
    :index: 3
    :icone: "bower_components/charte-graphique-laclasse-com/images/03_cahierdetextes.svg"
    :couleur: violet
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :active: false
  TELESRV:
    :index: 4
    :icone: "bower_components/charte-graphique-laclasse-com/images/04_notesabsences.svg"
    :couleur: vert
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :active: false
  LPC:
    :index: 5
    :icone: "bower_components/charte-graphique-laclasse-com/images/05_validationcompetences.svg"
    :couleur: rouge
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: http://www.perdu.com
    :active: false
  CCNUM:
    :index: 6
    :icone: "bower_components/charte-graphique-laclasse-com/images/06_thematiques.svg"
    :couleur: vert
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: ''
    :active: false
  BLOGS:
    :index: 7
    :icone: "bower_components/charte-graphique-laclasse-com/images/07_blogs.svg"
    :couleur: bleu
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: http://www.perdu.com
    :active: false
  GAR:
    :index: 8
    :icone: "bower_components/charte-graphique-laclasse-com/images/08_ressources.svg"
    :couleur: jaune
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: http://www.perdu.com
    :active: false
  TROMBI:
    :index: 9
    :icone: "bower_components/charte-graphique-laclasse-com/images/09_trombi.svg"
    :couleur: violet
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: http://www.perdu.com
    :active: false
  SUIVIELV:
    :index: 10
    :icone: "bower_components/charte-graphique-laclasse-com/images/10_suivi.svg"
    :couleur: bleu
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :lien: ''
    :url: http://www.perdu.com
    :active: false
  Publi:
    :index: 11
    :icone: "bower_components/charte-graphique-laclasse-com/images/11_publipostage.svg"
    :couleur: jaune
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: 
    :active: false
  AIDE:
    :index: 12
    :icone: "bower_components/charte-graphique-laclasse-com/images/12_aide.svg"
    :couleur: rouge
    :notifications: 0
    :url_notif: ''
    :active: true
    :nom: aide
    :survol: 'Aide en ligne'
    :url: http://www.perdu.com
  ADMIN:
    :index: 13
    :icone: "bower_components/charte-graphique-laclasse-com/images/13_admin.svg"
    :couleur: jaune
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: http://www.perdu.com
    :active: false
  PRONOTE:
    :index: 14
    :icone: "bower_components/charte-graphique-laclasse-com/images/04_notesabsences.svg"
    :couleur: rouge
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: '#'
    :active: true
  empty2:
    :index: 15
    :icone: ''
    :couleur: vert
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: '#'
    :active: true
  empty3:
    :index: 16
    :icone: ''
    :couleur: orange
    :notifications: 0
    :url_notif: ''
    :nom: ''
    :survol: ''
    :url: '#'
    :active: true
