{
    "apps": {
	"default": {
	    "MAIL": {
		"color": "bleu",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/01_messagerie.svg",
		"index": 1 },
	    "DOC": {
		"color": "jaune",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/02_documents.svg",
		"index": 2 },
	    "CCNUM": {
		"color": "bleu",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/06_thematiques.svg",
		"index": 7 },
	    "LPC": {
		"color": "vert",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/05_validationcompetences.svg",
		"index": 6 },
	    "PRONOTE": {
		"color": "rouge",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/04_notesabsences.svg",
		"index": 5 },
	    "TELESRV": {
		"color": "vert",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/04_notesabsences.svg",
		"index": 4 },
	    "CTXT": {
		"color": "violet",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/03_cahierdetextes.svg",
		"index": 3 },
	    "BLOGS": {
		"color": "jaune",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/07_blogs.svg",
		"index": 8 },
	    "GAR": {
		"color": "violet",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/08_ressources.svg",
		"index": 9 },
	    "TROMBI": {
		"color": "bleu",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/09_trombi.svg",
		"index": 10 },
	    "SUIVIELV": {
		"color": "jaune",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/10_suivi.svg",
		"index": 11 },
	    "PUBLI": {
		"color": "rouge",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/11_publipostage.svg",
		"index": 12 },
	    "AIDE": {
		"color": "jaune",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/12_aide.svg",
		"index": 13 },
	    "ADMIN": {
		"color": "rouge",
		"icon": "app/vendor/charte-graphique-laclasse-com/images/13_admin.svg",
		"index": 14 }
	}
    },
    "news_feed": [
	{
	    "nb": 1,
	    "icon": "",
	    "flux": "http://ent-laclasse.blogs.laclasse.com/category/editos/feed/",
	    "titre": "Editoriaux d'Erasme"
	},
	{
	    "nb": 3,
	    "icon": "",
	    "flux": "http://ent-laclasse.blogs.laclasse.com/feed/",
	    "titre": "blog du projet ENT"
	}
    ]
}
