<div class="row" data-ng-controller="PortailTrombiCtrl">
    <div class="animate scale-fade ng-scope" style="">
	<div class="row portail ng-scope">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row damier trombinoscope">
		    <div data-ng-repeat="rgpt in mes_regroupements"
			 class="col-xs-12 col-sm-6 col-md-3 col-lg-2 petite case animate scale-fade-in"
			 data-ng-style="{'background-color': rgpt.color}"
			 data-ng-if="current_user.is_logged && !eleves">
			<a title="Voir le trombinoscope du regroupement {{rgpt.nom}}"
			   data-ng-click="showElevesRegroupement( rgpt )"
			   data-ng-if="rgpt.nom">
			    <span class="classe-name">{{rgpt.nom}}</span>
			    <span class="college-name">{{rgpt.etablissement_nom}}</span>
			</a>
		    </div>

		    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 petite case classe animate scale-fade-in gris3"
			 data-ng-if="current_user.is_logged && eleves">
			<span class="classe-name">{{regroupement.nom}}</span>
			<span class="college-name">{{regroupement.etablissement_nom}}</span>

			<a class="btn btn-link retour" data-ng-click="retour()"><span class="glyphicon glyphicon-home"></span> Retour à la liste des classes</a>
		    </div>

		    <div data-ng-repeat="eleve in eleves"
			 class="col-xs-12 col-sm-6 col-md-3 col-lg-2 petite case animate scale-fade-in"
			 data-ng-style="{'background-color': eleve.color}"
			 data-ng-if="current_user.is_logged && eleves">
			<img class="avatar"
			     data-ng-src="{{eleve.avatar}}"
			     data-ng-if="eleve.avatar != ''"/>
			<span class="trombi-first-name">{{eleve.prenom}}</span>
			<span class="trombi-last-name">{{eleve.nom}}</span>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
